*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

.modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0f1212ec;
  top: 0;
  left: 0;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-bg p{
  color: #848585;
}

.modal-top-btns{
  display: inline-grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}

.modal{
  background-color: #0F1212;
  width: 70%;
  padding: 2rem;
  border-radius: 16px;
}

.modal p{
  padding: 1.5rem 0;
}

.modal span{
  color: #20A4F3;
}

.modal-top-btns button, .modal-form button{
  all: unset;
  cursor: pointer;
  padding: 6px 1rem;
  background:     
          linear-gradient(to right, #13303F, #1D3F3D),
          linear-gradient(45deg, #20A4F3, #59F8E8);
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-radius: 5px;
}

.continue_to_app{
  all: unset;
  display: block;
  cursor: pointer;
  padding: 6px 1rem !important;
  border: 1px solid transparent;
  background: linear-gradient(45deg, #20A4F3, #59F8E8);
  color: #000;
  margin: auto;
  border-radius: 4px;
  width: 31%;
}

.hr{
  margin: 2rem 0;
  height: 1px;
  background-color: #1e1d1d;
  width: 100%;
}

.modal-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-form input{
  background-color: transparent;
  outline: none;
  border: 1px solid #1e1d1d;
  padding: 12px;
  border-radius: 5px;
  width: 40%;
}

.steps p{
  text-align: left;
  padding: .1rem 0;
}

.tabBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.tabBtns div{
  background-color: #232A2A;
  padding: 2px 10px;
  border-radius: 50px;
}


.tabBtns div.active{
  background-color: #848585;
  padding: 2px 10px;
  border-radius: 50px;
}

.est{
  font-size: 30px;
  background: linear-gradient(to right, #59F8E8, #20A4F3 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.close-modal{
  position: fixed;
  top: 8%;
  right: 13%;
  cursor: pointer;
}

.est2-container p, .est2-container span{
  text-align: left;
  padding: .3rem 0;
}

.est2-container span{
  color: #848585;
}

.est2-container{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 40px;
}

.vr{
  padding: 1px;
  background-color: #4f4f4f7a;
}